<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<div class="contenitore_titolo">
    <h1 class="scritta">
        Seleziona un furgone:
    </h1>
</div>
<div class="contenitore-card-furgoni">

    <div class="card-furgone">
        <div class="image-wrapper">
            <img src="../../../assets/images/cars/ford_transit.png" alt="Red Car">
        </div>

        <div class="info-wrapper">
            <span class="title">Ford</span>
            <div class="price-container">
                <h3 class="effective-price">25€</h3>
                <p class="freqeuncy">al giorno</p>
            </div>
        </div>
     
    </div>
    <div class="card-furgone">
        <div class="image-wrapper">
            <img src="../../../assets/images/cars/Mercedes_sprinter.png" alt="Red Car">

        </div>

        <div class="info-wrapper">
            <span class="title">Mercedes</span>
            <div class="price-container">
                <h3 class="effective-price">25€</h3>
                <p class="freqeuncy">al giorno</p>
            </div>
        </div>
       
    </div>
    <div class="card-furgone">
        <div class="image-wrapper">
            <img src="../../../assets/images/cars/ducato.png" alt="Red Car">

        </div>
        <div class="info-wrapper">
            <span class="title">Fiat</span>
            <div class="price-container">
                <h3 class="effective-price">25€</h3>
                <p class="freqeuncy">al giorno</p>
            </div>
        </div>
        
    </div>
    <div class="card-furgone">
        <div class="image-wrapper">
            <img src="../../../assets/images/cars/crafter.png" alt="Red Car">

        </div>
        <div class="info-wrapper">
            <span class="title">Volkswagen</span>
            <div class="price-container">
                <h3 class="effective-price">25€</h3>
                <p class="freqeuncy">al giorno</p>
            </div>
        </div>
        
    </div>
    <div class="card-furgone">
        <div class="image-wrapper">
            <img src="../../../assets/images/cars/renault_master.png" alt="Red Car">
        </div>
        <div class="info-wrapper">
            <span class="title">Renault</span>
            <div class="price-container">
                <h3 class="effective-price">25€</h3>
                <p class="freqeuncy">al giorno</p>
            </div>
        </div>
        
    </div>
        <!--   -->


</div>