/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 5px;

  .logo-wrapper {
    img {
      width: 150px;
      height: auto;
    }
  }

  .menu-wrapper {
    .list-menu {
      display: flex;
      gap: 20px;

      .item-menu {
        color: #2e709e;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

        a {
          color: #2e709e;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          transition: border-color 0.3s ease;
          transition: 0.5s;

          &:hover {
            border-color: #e6a43b;
            font-size: 20px;
            transition: 0.5s;
          }

          &:visited {
            color: #2e709e; // Colore del link visitato
          }
        }
      }
    }
  }
  .menu-wrapper-mobile {
    display: none;
  }
  .social-wrapper {
    .list-social {
      display: flex;
      gap: 20px;

      .item-social {
        cursor: pointer;

        i {
          font-size: 24px;
          color: #2e709e;
          transition: color 0.3s ease;

          &:hover {
            color: #e6a43b;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
    background-color: #79a5c4;
    .logo-wrapper {
      img {
        width: 100px;
      }
    }
    .menu-wrapper-mobile {
      display: block;
      i {
        font-size: 1.5rem;
      }
    }
    .menu-wrapper,
    .social-wrapper {
      display: none;
    }
  }
}
