.homepage {
  main {
    .content-wrapper {
      display: flex;
      gap: 20px;
      align-items: flex-start;

      .left-content-wrapper {
        max-width: 50%;
        flex: 1;
        padding: 2rem;
        .headline-wrapper {
          color: #2e709e;

          .headline-Title {
            font-weight: 900;

            .drivewise {
              width: 240px;
              color: #e6a43b;
              transition: 0.5s;

              &:hover {
                font-size: 50px;
                transition: 0.5s;
              }
            }
          }
        }

        .buttons {
          display: flex;
          gap: 30px;
          align-items: center;

          .get-car-button {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            width: 194px;
            height: 50px;
            border-radius: 20px;
            background-color: #e6a43b;
            border: none;
            color: #fff;
            transition: width 0.5s, height 0.5s;

            &:hover {
              width: 210px;
              height: 60px;
              transition: 0.5s;
            }
          }

          .car-list-link {
            margin-top: 0;
            color: #2e709e;
            text-underline-offset: 5px;
            display: flex;
            align-items: center;
          }
        }

        .car-logos-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          gap: 1rem;
          height: 150px;

          .car-logo {
            width: auto;
            height: 40px;
          }
        }
      }
      .right-content-wrapper {
        flex: 1;
        .car-wrapper {
          flex: 0 0 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: linear-gradient(to left, #e6a43b, transparent);
        }
      }
    }

    .counter-section-wrapper {
      position: relative;
      margin-right: auto;
      max-width: 1000px;
      height: 150px;
      background-color: #e6a43b;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      clip-path: polygon(0 0, 100% 0, 100% 1%, 90% 100%, 0% 100%);

      .counter-element {
        color: #fff;
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
          margin: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .deals-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: auto;
      margin-top: 50px;
      color: #2e709e;
    }

    .deals-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around;
      height: 600px;
      width: 150px;
      width: auto;
      height: auto;
      margin-top: 50px;
      overflow: visible;

      .deal {
        height: 400px;
        background-color: #2e709e;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 90%, 0% 100%);
        // overflow: visible;

        .description {
          color: #fff;
        }
      }
      .book {
        width: 133px;
        height: 54px;
        border-radius: 10px;
        border: none;
        background-color: #e6a43b;
        color: #fff;
      }
    }
    .carousel-wrapper {
      width: auto;
      height: auto;
      margin-top: 100px;
      display: flex;

      .button-group-carousel {
        margin-left: auto;
        display: flex;
        gap: 15px;
        .carouserl-car {
          .carouserl-book-wrapper {
            .carousel-book {
              width: 133px;
              height: 54px;
              border-radius: 10px;
              border: none;
              background-color: #e6a43b;
              color: #fff;
            }
          }
        }
        .back,
        .next {
          color: #fff;
          border-radius: 100px;
          width: 50px;
          height: 50px;
          background-color: #2e709e;
          border: none;
        }
      }
    }
  }
}
