<div class="homepage">
  <div class="container-fluid">
    <div class="row">
      <main class="col-12 px-0">
        <div class="content-wrapper row">
          <div class="col-md-6">
            <div class="left-content-wrapper">
              <div class="headline-wrapper">
                <div class="headline-Title">
                  <h1>Il Tuo amico di Fiducia per il </h1>
                  <h1 class="drivewise">Noleggio Furgoni.</h1>
                </div>
                <p>Scopri la nostra ampia gamma di furgoni per ogni esigenza di trasporto. Che tu stia organizzando un
                  trasloco, una
                  consegna o un progetto speciale, Dudurent ha il veicolo perfetto per te. Noleggia in modo facile e
                  veloce, con tariffe
                  competitive e assistenza dedicata.</p>
              </div>
              <div class="buttons">
                <button class="get-car-button">Noleggia ora</button>
                <a href="url" class="car-list-link">Apri flotta →</a>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content-wrapper">
              <div class="car-wrapper">
                <img src="../../../assets/images/cars/furgone.png" alt="Red Car">
              </div>
              <div class="bar-gradient">
              </div>
            </div>
          </div>

        </div>

        <div class="container">
          <div class="car-logos-wrapper">
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/Audi Logo.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/Citroen Logo.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/Dacia Logo.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/g2993.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/Huyndai Logo.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/Land Rover Logo.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/layer1.png">
            </div>
            <div class="car-logo">
              <img src="../../../assets/images/loghi macchine/Renault Logo.png">
            </div>
            <div class="car-logo">
              <img src="assets/images/loghi macchine/Vector.png">
            </div>
          </div>
        </div>
        <div>
          <app-rent-form></app-rent-form>
        </div>
        <div class="counter-section-wrapper">

          <div class="counter-element">
            <div class="counter">
              450+
            </div>
            <div class="label">
              Furgoni
            </div>
          </div>
          <!-- <div class="counter-element">
            <div class="counter">
              90+
            </div>
            <div class="label">
              Sales Experts
            </div>
          </div> -->
          <!-- <div class="counter-element">
            <div class="counter">
              120+
            </div>
            <div class="label">
              Pickup Locations
            </div>
          </div> -->
          <div class="counter-element">
            <div class="counter">
              4650+
            </div>
            <div class="label">
              Clienti soddisfatti
            </div>
          </div>
        </div>
        <div class="sliders-wrapper">
          <!-- Swiper principale per le auto disponibili -->
          <swiper-container id="appSwiper" appSwiper #swiper [config]="swiperConfig" thumbs-swiper=".mySwiper2"
            (slidechange)="slideChange($event)">
            <swiper-slide class="swiper-slide" *ngFor="let car of cars">
              <div class="car-item" [ngStyle]="{
                'background-image': 'url(' + car.url + ')',
                'background-repeat': 'no-repeat',
                'background-size': 'cover'
              }">
                <div class="car-details">
                  <div class="car-logo">
                    <img [src]="car.logo" alt="Logo {{ car.title }}">
                  </div>
                  <div class="car-info">
                    <h3>{{ car.title }}</h3>
                    <p>{{ car.description }}</p>
                    <p>Prezzo: €{{ car.price }} al giorno</p>
                  </div>
                  <button class="btn-rent">Noleggia ora</button>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="deals-title">
          <h1>I nostri migliori affari</h1>
        </div>
        <div class="deals-wrapper">

          <div class="deal"> <img src="../../../assets/images/cars/red-car.png">
            <div class="description">
              <h1>
                Ford focus

              </h1>
              <p style="color:#E6A43B;"> Da €20 </p>
            </div>
            <button class="book">Prenota</button>
          </div>
          <div class="deal"><img src="../../../assets/images/cars/m2.png">
            <div class="description">
              <h1>
                Bmw m2
              </h1>
              <p style="color:#E6A43B;"> Da €80 </p>
            </div>
            <button class="book">Prenota</button>
          </div>
          <div class="deal"><img src="../../../assets/images/cars/camaro.png" height="210px">
            <div class="description">
              <h1>
                Chevrolet camaro
              </h1>
              <p style="color:#E6A43B;"> Da €120 </p>
            </div>
            <button class="book">Prenota</button>
          </div>
        </div>
        <div class="carousel-wrapper">

        </div>
      </main>
    </div>
  </div>
</div>