<div class="homepage">
  <div class="container-fluid">
    <div class="row">
      <main class="col-12 px-0">
        <div class="content-wrapper">
          <div class="left-content-wrapper">
            <div class="headline-wrapper">
              <div class="headline-Title">
                <h1>Explore the freedom of car rental with</h1>
                <h1 class="drivewise">Drivewise.</h1>
              </div>
              <p>Whether you're planning a road trip, need a reliable vehicle for a business trip, or just want the
                convenience of having a car at your disposal, we've got you covered.</p>
            </div>
            <div class="buttons">
              <button class="get-car-button">Get your car today</button>
              <a href="url" class="car-list-link">See all cars →</a>
            </div>
            <div class="car-logos-wrapper">
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/Audi Logo.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/Citroen Logo.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/Dacia Logo.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/g2993.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/Huyndai Logo.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/Land Rover Logo.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/layer1.png">
              </div>
              <div class="car-logo">
                <img src="../../../assets/images/loghi macchine/Renault Logo.png">
              </div>
              <div class="car-logo">
                <img src="assets/images/loghi macchine/Vector.png">
              </div>
            </div>
          </div>
          <div class="right-content-wrapper">
            <div class="car-wrapper">
              <img src="../../../assets/images/cars/red-car.png" alt="Red Car">
            </div>
          </div>

        </div>
        <div class="counter-section-wrapper">

          <div class="counter-element">
            <h1>
              450+
              <p>Cars</p>
            </h1>
          </div>
          <div class="counter-element">
            <h1>
              90+
              <p>Sales Experts</p>
            </h1>
          </div>
          <div class="counter-element">
            <h1>
              120+
              <p>Pickup Locations</p>
            </h1>
          </div>
          <div class="counter-element">
            <h1>
              4650+
              <p>Happy Customers</p>
            </h1>
          </div>
        </div>
        <div class="deals-title">
          <h1>Best deals out there</h1>
        </div>
        <div class="deals-wrapper">

          <div class="deal"> <img src="../../../assets/images/cars/red-car.png">
            <div class="description">
              <h1>
                Ford focus

              </h1>
              <p style="color:#E6A43B;"> From $20 </p>
            </div>
            <button class="book">Book now</button>
          </div>
          <div class="deal"><img src="../../../assets/images/cars/m2.png">
            <div class="description">
              <h1>
                Bmw m2
              </h1>
              <p style="color:#E6A43B;"> From $80 </p>
            </div>
            <button class="Book">Book now</button>
          </div>
          <div class="deal"><img src="../../../assets/images/cars/camaro.png" height="210px">
            <div class="description">
              <h1>
                Chevrolet camaro
              </h1>
              <p style="color:#E6A43B;"> From $120 </p>
            </div>
            <button class="book">Book now</button>
          </div>
        </div>
        <div class="carousel-wrapper">

          <h1>
            Choose your next car
          </h1>
          <div class="button-group-carousel">
            <button class="back"></button>
            <button class="next"></button>
          </div>
          <div class="deal"> <img src="../../../assets/images/cars/red-car.png">
            <div class="description">
              <h1>
                Ford focus

              </h1>
              <p style="color:#E6A43B;"> From $20 </p>
            </div>
            <button class="book">Book now</button>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>