<div class="login-container">
    <form  class="form">
        <h1 class="title">Login</h1>
        <input class="field" type="text" formControlName="username" placeholder="Username" />
        <input class="field" type="password" placeholder="Password" />

        <a class="forgot">Forgot password?</a>
        <div class="btn-container">
            <button class="btn primary">Signup</button>
            <button class="btn secondary" type="button" (click)="clickLogin()">Login</button>
        </div>

    </form>
</div>